.root {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 200px;
  min-width: 175px;
  position: relative;
}

.description {
  font-size: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ownerName {
  overflow-x: auto;
  position: absolute;
  bottom: 1vh;
  left: 1vh;
}