.root {
  position: relative;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 200px;
  min-width: 175px;
  position: relative;
}

.description {
  position: absolute;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ownerName {
  overflow-x: auto;
  position: absolute;
  bottom: 5%;
  left: 1%;
  bottom: 1vh;
  left: 1vh;
}